<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Pizarra Más Popular</title>
    <link rel="stylesheet" href="stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon" onclick="window.location.href = '/'">🏠</div>
    </div>

    <!-- Main Content -->
    <div class="contentP">
        <h1>Nuestra pizarra más popular</h1> <!-- Centrar el título -->
        <% if (paginas && paginas.length > 0) { %>
            <% paginas.forEach(pagina => { %>
                <div class="example">
                    <!-- Mostrar título y texto -->
                    <h2><%= pagina.name %></h2>
                    <p><%= pagina.texto %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>No hay páginas públicas disponibles.</p>
        <% } %>

        </div>
    </div>

</body>
</html>
