
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Pizarra M치s Popular</title>
    <link rel="stylesheet" href="stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon">&#9776;</div>
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button>游댌</button>
        </div>
        <div class="profile-icon"><%= nombre %>游녻</div>
    </div>
    
    <button class="solicitar-cuenta botones_admin" onclick="window.location.href='08-solicitudes.html'">Confirmar cuentas</button>

    <!-- Main Content -->
    <div class="content">
        <h1>Aulas</h1>
        <div class="examples">
            <!-- Ejemplo 1 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">                
                <img src="images/aguacate.png" alt="Ejemplo 1" width="100" height="100">
                <h2>Matem치ticas (inform치tica)</h2>
            </button>
            <!-- Ejemplo 2 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">
                <img src="images/aguacate.png" alt="Ejemplo 2" width="100" height="100">
                <h2>Matem치ticas (teleco)</h2>                
            </button>
            <!-- Ejemplo 3 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">
                <img src="images/aguacate.png" alt="Ejemplo 3" width="100" height="100">
                <h2>Matem치ticas (ing datos)</h2>
            </button>
            <!-- Ejemplo 4 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">
                <img src="images/aguacate.png" alt="Ejemplo 4" width="100" height="100">
                <h2>Matem치ticas (p칰blica)</h2>
            </button>
            <!-- Ejemplo 5 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">
                <img src="images/aguacate.png" alt="Ejemplo 5" width="100" height="100">
                <h2>Programaci칩n 1</h2>
            </button>
            <!-- Ejemplo 6 -->
            <button class="example" onclick="window.location.href='14-aulaAlumno.html'">
                <img src="images/aguacate.png" alt="Ejemplo 6" width="100" height="100">
                <h2>Programaci칩n 2</h2>
            </button>
        </div>
    </div>
</body>
</html>
