
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Pizarra M치s Popular</title>
    <link rel="stylesheet" href="/stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon">&#9776;</div>
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button>游댌</button>
        </div>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle"><%= email %></a>
                <div class="dropdown-menu">
                    <button onclick="window.location.href='/logout'">Logout</button>
                    <button onclick="window.location.href='/cambiar_contrasena'">Cambiar contrase침a</button>
                </div>
            </div>
        </div>
        <div class="profile-icon">游녻</div>
    </div>
    
    <button class="solicitar-cuenta botones_admin" onclick="window.location.href='/solicitudes'">Confirmar cuentas</button>

    <!-- Main Content -->
    <div class="content2">
        <h1>Bienvenido administrador!</h1>
        <h2>Para acceder a la p치gina de aceptar cuentas, por favor, seleccione el bot칩n de la parte superior izquierda.</h2>
        <h2>Si quiere crear una cuenta, pinche  <a href ="/crearCuentas">aqu칤</a><h2>
    </div>
</body>
</html>
