<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Aula</title>
    <link rel="stylesheet" href="/stylesheets/pizarrin.css">
</head>
<body>
<div class="browser-header">
    <div class="menu-icon">&#9776;</div>
    <div class="search-container">
        <input type="text" placeholder="Search">
        <button>🔍</button>
    </div>
    <div class="profile-icon">👤</div>
</div>

<div class="crear-aula-container">
    <form action="/crear_aulas_alumno" method="POST" class="crear-aula-form" id="crearAulaForm">
        <label for="nombre-aula">NOMBRE AULA</label>
        <input type="text" id="nombre-aula" name="nombre-aula" placeholder="Ingrese el nombre del aula" required>

        <label for="alumnos">ALUMNOS</label>
        <textarea id="alumnos" name="alumnos" placeholder="Ingrese los correos de los alumnos, separados por comas" rows="5" required></textarea>

        <button type="submit" class="submit-button">Solicitar</button>
    </form>
    <button class="volver-button" onclick="window.location.href='/dashboard/profesor'">Volver</button>
</div>

<script>
   /* document.getElementById('crearAulaForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita el envío inmediato del formulario

        // Puedes agregar aquí cualquier validación adicional

        // Redirige a la página de ejemplo después de completar el formulario
        window.location.href = '09-profesor.html';
    });
    */
    
</script>
</body>
</html>
