<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Aula</title>
    <link rel="stylesheet" href="/stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon" onclick="window.location.href='/dashboard/profesor'">🏠</div>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle"><%= email %></a>
                <div class="dropdown-menu">
                    <button onclick="window.location.href='/logout'">Logout</button>
                    <button onclick="window.location.href='/cambiar_contrasena'">Cambiar contraseña</button>
                </div>
            </div>
        </div>
        <div class="profile-icon">👤</div>
    </div>

<div class="crear-aula-container">
    <form action="/crear_paginas_publica_post" method="POST" class="crear-aula-form" id="crearAulaForm">
        <label for="nombre-aula">NOMBRE PÁGINA PÚBLICA</label>
        <input type="text" id="nombre-pagina" name="name" placeholder="Ingrese el nombre de la página" required>

        <label for="content">Contenido</label>
        <textarea id="content" name="texto" placeholder="Ingrese el contenido de la página pública" rows="5" required></textarea>

        <button type="submit" class="submit-button">Publicar</button>
    </form>
    <button class="volver-button" onclick="window.location.href='/dashboard/profesor'">Volver</button>
</div>

</body>
</html>
