<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicita tu cuenta</title>
    <link rel="stylesheet" href="stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon" onclick="window.location.href='/dashboard/admin'">游</div>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle"><%= email %></a>
                <div class="dropdown-menu">
                    <button onclick="window.location.href='/logout'">Logout</button>
                    <button onclick="window.location.href='/cambiar_contrasena'">Cambiar contrase침a</button>
                </div>
            </div>
        </div>
        <div class="profile-icon">游녻</div>
    </div>

    <div class="solicitar-container">
        <h1 class="titulo_form">CREA CUENTAS</h1>
        <p class="notice">Creador de cuentas para desarrolladores</p>
        <form id="solicitarForm" action="/registroROOT" method="post" class="solicitar-form">
            <label for="nombre">NOMBRE</label>
            <input type="text" id="nombre" name="nombre" placeholder="Se침or Profesor" required>

            <label for="email">EMAIL</label>
            <input type="email" id="email" name="email" placeholder="SeniorProfesor@edu.com" required>

            <label for="password">CONTRASE칌A</label>
            <input type="password" id="password" name="password" placeholder="********" required>

            <label for="confirm-password">CONFIRMA TU CONTRASE칌A</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="********" required>

            <label for="rol">ROL</label>
            <input type="number" id="rol" name="rol" placeholder="1 (Alumno), 2 (Profesor), 3 (Admin)" min="1" max="3" required>

            <button type="submit" class="submit-button">CREAR</button>
        </form>
    </div>

    <script>
        document.getElementById('solicitarForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el env칤o inmediato del formulario

            // Validaci칩n de contrase침as
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
        
            if (password !== confirmPassword) {
                alert('Las contrase침as no coinciden. Por favor, verif칤calo.');
                return; // Detiene el env칤o si las contrase침as no coinciden
            }
        
            // Env칤a el formulario de forma manual si las contrase침as coinciden
            this.submit();

        });
    </script>
</body>
</html>
