<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear P치gina</title>
    <link rel="stylesheet" href="/stylesheets/pizarrin.css">
</head>
<body>
    <div class="browser-header">
        <div class="menu-icon" onclick="window.location.href='/dashboard/profesor'">游</div>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle"><%= email %></a>
                <div class="dropdown-menu">
                    <button onclick="window.location.href='/logout'">Logout</button>
                    <button onclick="window.location.href='/cambiar_contrasena'">Cambiar contrase침a</button>
                </div>
            </div>
        </div>
        <div class="profile-icon">游녻</div>
    </div>
    <div class="contentC">
        <h1>Crear Nueva P치gina</h1>
        <form action="/aula/<%= aulaId %>/paginas/nueva" method="POST" enctype="multipart/form-data">
                <label for="titulo">T칤tulo:</label>
                <input type="text" id="titulo" name="titulo" required>
            
                <label for="texto">Texto:</label>
                <textarea id="texto" name="texto" required></textarea>
            
                <label for="foto">Foto (opcional):</label>
                <input type="file" id="foto" name="foto">
            
                <button type="submit">Crear P치gina</button>    
        </form>
    </div>
    <div>
        <button class="botonVolver" onclick="history.back()">Volver</button>
    </div>
</body>
</html>